<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <i class="material-icons copyright-icon">copyright</i>
      <b>Criado por Tiago Leal no
        <a class="copyright-link" href="http://onebitcode.com/bootcamp-one-bit-code/"> Bootcamp OneBitCode</a>
      </b>
    </div>
  </div>
</div>